@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.mobile-button {
    display: none;
    padding-top: 10px;
    width: 40px;
    position: absolute;
    right: 20px;
}

.hide {
    display: none;
}

@media (max-width: 1000px) {
    .mobile-button {
        display: block;
    }
}

.mobile-menu {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    background-color: #200153;
    min-height: 100vh;
}

.mobile-nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-nav-links .nav-link {
    margin-bottom: 30px;
    width: 210px;
    height: 50px;
}

.off-scroll{
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.fixed-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-right: 150px;
}

.nav-link {
    width: 112px;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #000;
    background-color: #FFF;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: 'Comfortaa';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.active {
    background-color: #BBFF2C;
}

.logo {
    color: #BBFF2C;
    font-size: 80px;
    padding-left: 50px;
}

.planet {
    position: absolute;
    right: 0;
}

#main {
    background-image: url(img/bgMAIN.png);
}

#main {
    background-image: url(img/bgMAIN.png);

}

#about {

    background-image: url(img/bgABOUT.png);

}

#skills {

    background-image: url(img/bgSKILLS.png);

}

#works {

    background-image: url(img/bgWORKS.png);

}

#comments {

    background-image: url(img/bgCOMMENTS.png);

}

.comment {
    background-image: url(img/comment.png);
    padding: 20px;
    background-repeat: no-repeat;
    background-size: 400px;
}

.main-block,
.about-block,
.skills-block,
.works-block,
.comments-block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.main-block {

    flex-direction: column;

    height: 100vh;

}

.main-content {

    background-image:

        url(img/bgMAIN.png);

    background-repeat: no-repeat;

    background-size: contain;

    width: 849px;

    height: 223px;

    padding-left: 30px;

}

.main-title {

    padding-top: 67px;

    background-image: url(img/form1.png);

    color: #2B2D35;

    font-size: 80px;

}

.main-subtitle {

    color: #2B2D35;

    font-size: 20px;

    font-family: 'Comfortaa';

}

.about-content {
    width: 35%;
    height: 270px;
    background: #792AFF;
    padding-left: 40px;
    padding-top: 40px;
    position: relative;
    display: flex;
}

.about-title {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    max-width: 463px;
    margin-bottom: 20px;
    font-family: 'Comfortaa';
}


.about-card {
    background-image:
        url(img/form2.png);
    background-repeat:
        no-repeat;
    width: 376px;
    height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    position: relative;
}

.Yehor {
    width: 60px;
}

h1 {
    font-size: 40px;
}

.skills-card {
    background-image: url(img/form3.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin: 20px;
    padding-left: 10px;
}

.moving-planet2 {
    background: url(img/moving-planet2.png);
    background-repeat: no-repeat;
    width: 208px;
    height: 200px;
    position: absolute;
    bottom: 70px;
    left: 0;
}

.moving-planet,
.moving-planet2,
.moving-cloud {
    animation-name: planet_move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.skills-card p {
    color: #000;
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 500px;
    font-family: 'Comfortaa';
}

.about-card p {
    color: #000;
    font-size: 17px;
    align-self: start;
    padding-left: 20px;
    line-height: 25px;
    font-family: 'Comfortaa';
}

.about-card img {
    padding-bottom: 20px;
    width: 150px;
}


.title {
    padding-top: 100px;
    text-align: center;
    color: #FFF;
    font-size: 80px;
    text-shadow:
        5px 5px 0 #000000;
}

.button {
    width: 200px;
    height: 60px;
    border-radius: 100px;
    border: 2px solid #000;
    background: #BBFF2C;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0 #000000;
    margin-top: 20px;

}

.button a {
    font-size: 20px;
    text-decoration: none;

}

.button {
    transition-duration: 0.3s;

}

.button:hover {
    background: #a0d826;

}

@keyframes planet-move {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(70px);
    }
}

.moving-planet {
    background: url(img/moving-planet.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 230px;
    transform: rotate(-15deg);
    position: absolute;
    bottom: 30px;
    left: 30px;
    animation-name: planet-move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: translateY(0);
    transform: translateY(42px);
    transform: translateY(-2.1rem);
    transform: translateY(3ch);
}

.works-block img {
    margin: 0 20px;
    width: 27%;
    box-shadow:
        7px 7px 0 #000000;
}

.comments-block {
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
}

.comments-card {
    background-image: url(img/card.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.comments-card h3 {
    font-size: 18px;
    font-family: 'Comfortaa';
    padding: 10px 20px;
    text-align: center;
}

footer {
    background-color: #200153;
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
}

.footer-info p {
    font-family: 'Comfortaa';
    padding-bottom: 10px;
}

.footer-year p {
    font-family: 'Comfortaa';
    letter-spacing: 1.5px;
}

.footer-links a {
    margin-right: 15px;
}

@media (max-width: 520px) {
    body {
        background-color: #792AFF;
    }
}

@media (min-width: 521px) and (max-width: 960px) {
    body {
        background-color: #BBFF2C;
    }
}

@media (min-width: 961px) {
    body {
        background-color: black;
    }
}

@media (max-width: 1000px) {
    

    .logo {
        font-size: 40px;
        padding-left: 20px;
        padding-top: 10px;
    }


    .main-content {
        max-width: 320px;
    }

    .main-title {
        padding-top: 30px;
        font-size: 30px;
        padding: 30px;
        padding-top: 50px;
    }
}

.main-subtitle {
    font-size: 15px;
}

.planet,
.moving-cloud,
.moving-planet2 {
    display: none;
}

.title {
    font-size: 50px;
    padding-top: 30px;
}

.about-block {
    flex-direction: column;
    margin-top: 20px;
    padding: 0;
}

.about-card {
    order: -1;
    background-size: contain;
    padding-top: 20px;
    width: 326px;
    height: 296px;
}

.about-card img {
    width: 85%;
}

.about-content {
    width: 75%;
    height: 250px;
    margin-bottom: 20px;
}

.about-title {
    font-size: 18px;
}

.skills-card {
    margin: 20px;
    padding-left: 10px;
    background-size: contain;
}

.skills-card p {
    font-size: 16px;
    margin-top: 10%;
    margin-bottom: 20px;
}

.skills-section {
    min-height: 60vh;
}

.skills-card .button {
    position: absolute;
    bottom: 10px;
}

.works-block {
    flex-direction: column;
    padding: 20px 0;
}

.works-block img {
    margin: 20px 0;
    width: 80%;
}

.comments-block {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding-top: 50px;
}

.comment {
    background-image: url(img/comment-mobile.png);
}

.comment p {
    font-size: 15px;
    max-width: 290px;
}